<div class="card">

    <div class="card-header">

        <h2>Derniers stagiaires</h2>

        <button>Voir tout</button>

    </div>

    <table>

        <thead>

            <tr>

                <th>Nom</th>

                <th>Département</th>

                <th>Statut</th>

            </tr>

        </thead>

        <tbody>

            @for(intern of interns; track intern.name){

                <tr>

                    <td>{{ intern.name }}</td>

                    <td>{{ intern.department }}</td>

                    <td>

                        <span class="status" [class]=" 'status' + getStatusClass(intern.status)">

                            {{ intern.status }}

                        </span>

                    </td>

                </tr>

            }

        </tbody>

    </table>

</div>