<div class="sidebar">

  <!-- Logo -->
  <div class="logo">

    <h2>Orange</h2>
    <span>Gestion des stages</span>

  </div>

  <!-- Menu principal -->
  <nav>

    @for(item of menuItems; track item.route){
      <a [routerLink]="item.route" routerLinkActive="active">
        <i [class]="item.icon"></i>
        <span>{{item.label}}</span>
      </a>
    }

  </nav>

  <!-- Menu administration -->
  <div class="admin-menu">

    @for(item of administrationItems; track item.route){
      <a [routerLink]="item.route" routerLinkActive="active">
        <i [class]="item.icon"></i>
        <span>{{item.label}}</span>
      </a>
    }

  </div>

</div>