<div class="stagiaires-page">

  <!-- En-tête -->

  <section class="page-header">

    <div>
      <h1>Stagiaires</h1>
      <p>
        Consultez et gérez la liste des stagiaires.
      </p>
    </div>

    <button class="add-button" (click)="openModal()">
      + Ajouter un stagiaire
    </button>

  </section>

  <!-- Barre de recherche -->

  <section class="filters-section">
    <div class="filters-row">

        <input type="text" placeholder="Rechercher par nom ou projet..." class="search-input" [(ngModel)]="search">

        <select class="filter-select" [(ngModel)] ="selectedDepartement">
            <option value="">
                Tous les départements
            </option>

            @for (departement of departements; track departement) {

                <option [value]="departement">
                    {{ departement }}
                </option>

            }
        </select>
        
        <select class="filter-select" [(ngModel)] = "selectedEncadreur">
            <option value="">
                Tous les encadreurs
            </option>
            
            @for (encadreur of encadreurs; track encadreur) {
                
                <option [value]="encadreur">
                    {{ encadreur }}
                </option>
                
            }
        </select>

        <select class="filter-select" [(ngModel)] = "selectedStatut">
            <option value="">
                Tous les statuts
            </option>

            @for (statut of statuts; track statut) {

                <option [value]="statut">
                    {{ statut }}
                </option>

            }
        </select>

        <button class="reset-button">
            Réinitialiser
        </button>

    </div>

    <div class="date-row">
        <input type="date" class="date-input">
        <span class="arrow">→</span>

        <input type="date" class="date-input">
    </div>
  </section>

  <!-- Tableau -->

<section class="table-section">
    <div class="table-card">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Département</th>
                    <th>Encadreur</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>

            </thead>

            <tbody>
                @for(stagiaire of paginatedStagiaires; track stagiaire.id){

                    <tr>
                        <td>{{ stagiaire.nom }}</td>
                        <td>{{ stagiaire.departement }}</td>
                        <td>{{ stagiaire.encadreur }}</td>
                        <td>{{ stagiaire.debut }}</td>
                        <td>{{ stagiaire.fin }}</td>
                        <td>
                            <span class="status" [class] = " 'status' + getStatusClass(stagiaire.statut)">
                                {{ stagiaire.statut }}
                            </span>
                        </td>
                        <td>
                            <button class="action-btn">👁</button>
                            <button class="action-btn">✏</button>
                            <button class="action-btn delete">🗑</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

  <!-- Pagination -->

  <section class="pagination-section">

    <button
        class="page-button"
        (click)="previousPage()"
        [disabled]="currentPage === 1">
        ← Précédent
    </button>

    <span>
        Page {{ currentPage }} sur {{ totalPages }}
    </span>

    <button
        class="page-button"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages">

        Suivant →

    </button>

</section>

@if(modalOpen){
    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-header">
                <h2>Ajouter un stagiaire</h2>
                <button
                    class="close-button"
                    (click)="closeModal()">
                    ✕
                </button>
            </div>
            <form
                [formGroup]="stagiaireForm">
                <div class="form-grid">
                    <input
                        type="text"
                        placeholder="Nom complet"
                        formControlName="nom">
                    <select formControlName="departement">
                        <option value="">
                            Choisir un département
                        </option>
                        @for(departement of departements; track departement){
                            <option [value]="departement">
                                {{ departement }}
                            </option>
                        }
                    </select>
                    <select formControlName="encadreur">
                        <option value="">
                            Choisir un encadreur
                        </option>
                        @for(encadreur of encadreurs; track encadreur){
                            <option [value]="encadreur">
                                {{ encadreur }}
                            </option>
                        }
                    </select>
                    <input
                        type="text"
                        placeholder="Projet"
                        formControlName="projet">
                    <input
                        type="date"
                        formControlName="dateDebut">
                    <input
                        type="date"
                        formControlName="dateFin">
                    <select formControlName="statut">
                        @for(statut of statuts; track statut){
                            <option [value]="statut">
                                {{ statut }}
                            </option>
                        }
                    </select>
                </div>
                <div class="modal-actions">
                    <button
                        type="button"
                        class="cancel-button"
                        (click)="closeModal()">
                        Annuler
                    </button>
                    <button
                        type="submit"
                        class="save-button">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
}
</div>